<!--
Co-authored-by: Perry Rose <roseper@deakin.edu.au>
-->

<mat-card>
  <mat-card-title>
    Create Unit
  </mat-card-title>
  <mat-card-content>
    <form class="form" (ngSubmit)="saveUnit()">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput maxlength="256" [(ngModel)]="unit.name" [ngModelOptions]="{standalone: true}" placeholder="Introduction to {{externalName}}">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Code</mat-label>
        <input matInput maxlength="256" [(ngModel)]="unit.code" [ngModelOptions]="{standalone: true}" placeholder="COS123456">
      </mat-form-field>
    <mat-divider></mat-divider>
    <mat-action-list align="end">
      <button
        mat-raised-button
        color="primary"
        [disabled]="unit.name === null || unit.code === null"
        type="submit"
      >
        Create
      </button>
    </mat-action-list>
    </form>
  </mat-card-content>
</mat-card>
