@import '../../../../build/assets/doubtfire.css';

.project-tasks-list {

  text-align: center;

  .groupset-name {
    color: #777;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
  }

  li {
    display: inline;
    padding: 2px;
  }

  .groupset-tasks:first-child .groupset-name {
    margin-top: 0;
  }

  // As a dropdown menu
  &.dropdown-menu {
    padding: 15px;
    width: 400px;
  }
}

::ng-deep .mat-tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 0.875rem;
  z-index: 1000;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  pointer-events: none;
  width: 90px;
  white-space: normal;
  word-wrap: break-word;
}

::ng-deep .mat-tooltip::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}


.project-tasks-list .groupset-name {
  color: #ffffff;
  font-size: 1em;
  -webkit-text-stroke: 0.7px #ffffff;
}

.project-tasks-list .tooltip-status {
  font-size: 0.8em;
}
