ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(25% - 20px);
    max-width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
      background-color: #e0e0e0;
    }

    &.task-complete {
      background-color: #d4edda; // Green for completed
      border-color: #c3e6cb;
    }

    &.task-doing {
      background-color: #fff3cd; // Orange for doing
      border-color: #ffeeba;
    }

    &.task-discuss {
      background-color: #d1ecf1; // Lighter blue for discuss
      border-color: #bee5eb;
    }

    &.task-ready-for-feedback {
      background-color: #cce5ff; // Medium blue for ready for feedback
      border-color: #b8daff;
    }

    &.task-need-help {
      background-color: #cce5ff; // Medium blue for need help
      border-color: #b8daff;
    }

    &.task-fail {
      background-color: #f8d7da; // Red for fail or time exceeded
      border-color: #f5c6cb;
    }

    &.task-not-started {
      background-color: #e2e3e5; // Grey for not started
      border-color: #d6d8db;
    }
    .tooltip {
      position: absolute;
      bottom: 110%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 5px;
      border-radius: 4px;
      white-space: nowrap;
      z-index: 1;
      opacity: 0.9;
    }
  }
}
