<ul class="project-tasks-list">
  <li class="col-xs-4 col-lg-3" *ngFor="let task of sortedTasks" style="position: relative;">
    <button type="button" class="col-xs-12 btn task-status" [ngClass]="getStatusClass(task)" (click)="selectTask(task)" (mouseenter)="toggleTooltip(task)" (mouseleave)="toggleTooltip(task)">
      <i class="fa fa-eye" *ngIf="task.similarityFlag"></i> {{ taskText(task) }}
      <div *ngIf="task.showTooltip" class="mat-tooltip">
        <b class="groupset-name font-bold">
          {{ task.definition?.name || 'Unnamed Task' }}:
        </b>
        <br>
        <b class="tooltip-status font-light">{{ getStatusDisplayName(task) }}</b>
      </div>
    </button>
  </li>
  <li *ngIf="!sortedTasks || sortedTasks.length === 0">
    No tasks available.
  </li>
</ul>
