<ul class="project-tasks-list">
  <div  class="group-set-tasks clearfix">
    <li *ngFor="let item of project.tasks" class="col-xs-4 col-lg-3">
      <button mat-raised-button
        matTooltip="{{taskDefinition(item).name}}:{{item.status_txt()}}"
        matTooltipPosition="below"
        matTooltipShowDelay="200"
        class="col-xs btn task-status {{ statusClass(item.status) }}"
        (click)="onClickItem(item, 'Task Button List')"
        style="width: 100%;">

        <i class="fa fa-eye" *ngIf="item.similar_to_count - item.similar_to_dismissed_count > 0"></i>
        {{taskText(item)}}
      </button>
    </li>
  </div>
</ul>
