<ul class="project-tasks-list">
  <div *ngFor="let grouping of groupTasks" class="group-set-tasks clearfix">
    <h5 class="group-set-name" *ngIf="!hideGroupSetName">{{ grouping.name }}</h5>
    <li class="col-xs-4 col-lg-3" *ngFor="let task of project?.tasks | tasksForGroupset: grouping.groupSet | orderBy: ['definition.targetGrade', 'definition.seq']">
      <button type="button" class="col-xs-12 btn task-status" [ngClass]="statusClass(task.status)" (click)="selectTask(task, 'Task Button List')" matTooltip="{{ task.definition.name }}: {{ task.statusLabel() }}" matTooltipPosition="below">
        <i class="fa fa-eye" *ngIf="task.similarityFlag"></i> {{ taskText(task) }}
      </button>
    </li>
  </div>
</ul>
