<div class="flex flex-col gap-4">
  <mat-checkbox matInput required [(ngModel)]="taskDefinition.hasEnabledNumbasTest">
    Enable Numbas Test
  </mat-checkbox>

  <div class="basis-1/2 flex flex-col">
    <f-file-drop
      mode="event"
      (filesDropped)="uploadNumbasTest($event)"
      accept="application/zip"
      [desiredFileName]="'Numbas zip'"
    />
    @if (taskDefinition.hasNumbasData) {
      <div class="flex flex-row gap-4 pt-4">
        <button mat-flat-button color="warn" (click)="removeNumbasTest()" class="flex-grow me-4">
          Delete Numbas Zip
        </button>
        <button mat-flat-button color="accent" (click)="downloadNumbasTest()" class="flex-grow ms-4">
          Download Numbas Zip
        </button>
      </div>
    }
  </div>

  @if (taskDefinition.hasEnabledNumbasTest) {
    <div class="flex-grow flex flex-row gap-4 pt-4">
      <mat-checkbox class="basis-1/2" matInput required [(ngModel)]="taskDefinition.hasNumbasTimeDelay">
        Enable incremental time delays between test attempts
      </mat-checkbox>
      <mat-form-field appearance="outline" class="basis-1/2">
        <mat-label>Attempt limit</mat-label>
        <input
          matInput
          min="0"
          max="100"
          type="number"
          [(ngModel)]="taskDefinition.numbasAttemptLimit"
          [formControl]="attemptLimitControl"
        />
      </mat-form-field>
    </div>
  }
</div>
