<div class="audio-comment-container" fxLayout="row" fxLayoutAlign="start center">
  <button class="play-button" (click)="pausePlay()">
    @if (isPlaying) {
      <i id="playButton" class="play-button fa fa-pause-circle"></i>
    } @else {
      <i id="playButton" class="play-button fa fa-play-circle"></i>
    }
  </button>
  <mat-progress-bar
    #progressBar
    id="progressBar"
    class="progress-bar-container"
    [value]="audioProgress"
    (click)="seek($event)"
  ></mat-progress-bar>
</div>
