.vertical-panel {
  border-radius: 10px;
  background-color: white;
  padding: 8px;
  min-width: 60px;
  width: 450px;
  height: 100%;

  &.mobile {
      max-width: 100%;
      width: 100%;
      padding: 0px;
  }
}

.vertical-spacer {
  background-color: #f5f5f5;
  z-index: 200;
  width: 10px
}

// HACK - issue access this from the main style.scss
$main-view-max-height: calc((var(--vh, 1vh) * (100)) - 85px);

f-task-viewer-state {
  height: calc($main-view-max-height + 70px); // temporary fix to reclaim the footer region for this specific page
  display: flex;
}
