<table #stageTable mat-table [dataSource]="taskDefinition.stages" class="fixed-table">
  <!-- Stage Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let stage">
      <mat-form-field appearance="fill">
        <input matInput placeholder="Enter title" [(ngModel)]="stage.title" />
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Stage Preamble Column -->
  <ng-container matColumnDef="preamble">
    <th mat-header-cell *matHeaderCellDef>Preamble</th>
    <td mat-cell *matCellDef="let stage">
      <mat-form-field appearance="fill">
        <input matInput placeholder="Enter preamble" [(ngModel)]="stage.preamble" />
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Criteria Column -->
  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef>Criteria</th>
    <td mat-cell *matCellDef="let stage">
      <div *ngFor="let option of stage.options">
        <mat-form-field appearance="fill">
          <mat-label>{{ option[0] }}</mat-label>
          <mat-select [(ngModel)]="option[1]">
            <mat-option *ngFor="let feedback of option[1]" [value]="feedback">
              {{ feedback }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="row-actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let stage">
      <button mat-icon-button color="warn" (click)="removeStage(stage)" aria-label="Delete stage">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>

<!-- Button to add a new stage -->
<div>
  <button mat-raised-button color="primary" (click)="addStage()">
    <mat-icon>add</mat-icon> Add New Stage
  </button>
</div>
